html, body {
  overflow-x: hidden;
  max-width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 0 0% 3.9%;
    --input: 0 0% 89.8%;
  }
  
  body {
    font-family: 'Ubuntu', sans-serif;
    color: rgba(0, 0, 0, 0.8);
  }
}

.text-black-80 {
  color: rgba(0, 0, 0, 0.8);
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;              /* ← Ajoute la propriété standard */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
